@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sync-padding {
    @apply sm:px-20 mdsm:px-8 px-6;
  }
}

body {
  @apply dark:bg-dm-bg-vdBlue;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* .animate__fadeInDown {
  animation: 0.5s ease-in-out 1 forwards fadeInDown;
}

.animate__fadeOutUp {
  animation: 0.5s ease-in-out 1 forwards fadeOutUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
} */
